// 样式变量

// 主背景
$body-bg: #1a164f;
$main-gray:#797699;

// 标题黄色
$title-yellow: #fbb100;
$title-filter: #ffac00;


// 亮黄字
$light-yellow:rgb(255, 172, 0);

//带0.8透明度
$yellow-opc8:rgba(255, 172, 0, 0.8);

//带0.65透明度
$yellow-opc6: rgba(255, 172, 0, 0.65);

// 半灰色背景
$gray-back:rgba(39, 34, 90, 1);

// 浅绿字体
$light-green:#42b983;